<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>Label</key>
	<string>com.ericom.ztac</string>
	<key>Program</key>
	<string>/Applications/ZTEdgeHelper.app/Contents/MacOS/ZTEdgeHelper</string>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<false/>
</dict>
</plist>
